<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ad_pbl_activityfeedback_q5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ProfessorDashboardActivity" />
        <activity android:name=".activities.StudentDashboardActivity" />
        <activity android:name=".activities.FormCreationActivity" />
        <activity android:name=".activities.FormSubmissionActivity" />
        <activity android:name=".activities.FormResultsActivity" />
        <activity android:name=".activities.AnalyticsActivity" />
        <activity android:name=".activities.FormRequestsActivity" />
        <activity android:name=".activities.ModifyRollRangeActivity" />
        <activity
            android:name=".activities.PasswordResetRequestsActivity"
            android:exported="false" />

    </application>

</manifest>